services:
  training:
    build: ./training
    env_file: .env
    volumes:
      - ./training/data:/app/data
      - ./training/artifacts:/app/artifacts

  api:
    depends_on:
      - training
    build: ./api
    env_file: .env
    volumes:
      - ./training/artifacts:/app/artifacts
    ports:
      - "5003:5000"
    command: gunicorn --bind 0.0.0.0:5000 app:app