name: mlops-pipeline

on:
  push:
    branches:
      - main
      - test/**
  pull_request:

jobs:
  pipeline:
    runs-on: ubuntu-latest

    # ------------------
    # Validations
    # ------------------
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download training dataset
        run: |
          mkdir -p training/data
          wget -O training/data/application_train.csv "https://www.dropbox.com/scl/fi/hmhnf33bbapvpsq6becmo/application_train.csv?rlkey=t9i95h11b1uyc6dsh6s40z3x4&st=xzu9ijx2&dl=0"

          if head training/data/application_train.csv | grep -qi html; then
            echo "Download failed — received HTML instead of CSV"
            exit 1
          fi


      - name: Validate data and artifacts structure
        run: |
          test -f training/data/application_train.csv || exit 1
          mkdir -p training/artifacts

      # ------------------
      # 1. Lint básico Python
      # ------------------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install lint tools
        run: pip install flake8

      - name: Run lint
        run: flake8 api || true

      # ------------------
      # 2. Build treino + gerar modelo
      # ------------------
      - name: Build training image
        run: docker build -t credit-training ./training

      - name: Run training container
        run: |
          docker create --name training-job credit-training
          docker cp training/data training-job:/app/data
          docker start -a training-job
          docker cp training-job:/app/artifacts ./training/artifacts
          docker rm training-job


      - name: Check model artifacts
        run: |
          echo "Listing artifacts folder:"
          ls -la training/artifacts || true

          test -f training/artifacts/model_v1.rds
          test -f training/artifacts/model_metadata.json


      # ------------------
      # 3. Build API image
      # ------------------
      - name: Build API image
        run: docker build -t credit-api ./api

      # ------------------
      # 4. Integration test (/health)
      # ------------------
      - name: Run API container
        run: |
          docker run -d \
            -p 5000:5000 \
            -v ${{ github.workspace }}/training/artifacts:/app/artifacts \
            credit-api

      - name: Wait API startup
        run: sleep 10

      - name: Health check
        run: curl --fail http://localhost:5000/health

      # ------------------
      # 5. Generate image tags
      # ------------------
      - name: Generate image tag
        run: |
          TAG=$(date +%Y%m%d)-${GITHUB_SHA::7}
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: Show tag
        run: echo "Docker tag is $IMAGE_TAG"
